body {
    margin: auto;
    max-width: 600px;
}

/*header styles*/
header {
    width: 600px;
    background-color: #f5f5dc;
    color: #998661;
    border-radius: 5px;
    margin-top: 7px;
    padding: 18px 0px;
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*navigation styles*/
#nav-text {
    color: hsl(0, 1%, 30%);
    display: inline-block;
    text-align: center;
    padding: 0px 7px;
    text-decoration: underline dotted grey;
}

#nav {
    border-bottom: solid rgb(216, 213, 213) 1px;
    text-align: center;
}